.app__specialMenu {
    display: flex;
    flex-direction: column;
    background: var(--color-black);
    align-items: center;
}

.app__specialMenu-title {
    margin-bottom: 0.5em;
    text-align: center;
}

.app__specialMenu-menu {
    width: 85%;
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@media screen and (min-width: 2000px) {
    .app__specialMenu-menu {
        width: 400px;
        height: 500px;
    }
}

@media screen and (max-width: 1150px) {
    .app__specialMenu-menu {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}

@media screen and (max-width: 650px) {
    .app__specialMenu-menu {
        width: 100%;  
    }

    .app__specialMenu-menu_heading {
        font-size: 35px;
        line-height: 48.5px;
    }
}